# Credentials for your Twitter bot account

# 1. Sign into your Twitter bot account 
# 2. Go to developer.twitter.com/en/apps and create an app
# 3. Once you've made your app, get to its "Keys and Tokens" page

# Consumer API keys
API_KEY = 'XXXXXXX'
API_SECRET = 'XXXXXXX'

# (Re)generate a new Access token & access token secret
ACCESS_TOKEN = 'XXXXXXX' 
ACCESS_SECRET = 'XXXXXXX'

# 4. Finished filling in the 4 blanks above? Save this file as credentials.py
